@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
::-webkit-input-placeholder{
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    justify-content: center;
    align-items: center;
}
.navbarlist{
    list-style-type: none;
    margin-left: 8%;
    padding: 0;
    overflow: hidden;
}
.list{
    float: left;
    padding: 30px;
    object-fit: contain;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.img1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 68px;
    top: 10px;
}
button{
    position: absolute;
    width: 192.02px;
    height: 49.87px;
    right: 39.32px;
    top: 26.79px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 22.3276px;
    line-height: 33px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    border-radius: 29.7702px;
}
.navbar{
  margin-left: 10px;
  font-size: 20px;
}
.textbox{
    position: absolute;
    width: 80%;
    height: 10%;
    left: 10%;
    top: 20%;
    background: #FFFFFF;
    padding-left: 10;
    border-radius: 14.89cm;
    border: none;
    outline: none;
    box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgba(93, 95, 239, 0.25);
    text-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
}
.SIGNUP{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 45%;
    height: 10%;
    left: 28%;
    top: 60%;
    border: none;
    outline: none;
    background: #5D5FEF;
    border-radius: 23.0719px;
    text-align: center;
    color: white;
    text-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
}
.formbg{
    position: absolute;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 7.44255px 14.8851px 65.4944px 22.3276px rgba(0, 0, 0, 0.1);
    border-radius: 7.44255px;
    width: 25%;
    height: 64%;
    right: 96.63px;
    top: 28%;
}
.formheader{
    position: absolute;
    width: 70%;
    height: 12%;
    left: 15%;
    top: -5%;
    z-index: 1;
    font-size: 17.8621px;
    background: #5D5FEF;
    border-radius: 22.3276px;
    text-align: center;
    color: #FFFFFF;
}
.google{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px 10px 50px;
    height: 10%;
    left: 20%;
    top: 80%;
    background: #FFFFFF;
    border: 0.744255px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
    border-radius: 22.3276px;
}
.wrapper{
    display:flex;
}
.wrapper .static-txt{
    color: #000000;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    line-height: 100px;
    height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: #4776E6;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li{
    position: relative;
}
.dynamic-txts li::after{
    content: " ";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-left: 2px solid #000000;
    animation: typing 3s steps(8) infinite;
}
@keyframes typing {
    40%,
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}
