@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}
input:focus {
  outline: 2px solid #5d5fef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.login {
  position: relative;
  flex: 0 25%;
  width: fit-content;
  height: 50px;
  color: #ffffff;
  padding-left: 43px;
  padding-right: 43px;
  margin-right: 43px;
  font-weight: 550;
  margin-top: 5px;
  font-size: 16px;
  line-height: 33px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  border-radius: 29.7702px;
  box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgb(93 95 239 / 25%);
  text-shadow: 0px 2.97702px 2.97702px rgb(0 0 0 / 25%);
}
.login:hover {
  cursor: pointer;
}
.navbar {
  position: sticky;
  align-self: flex-start;
  top: 3px;
  overflow-y: hidden;
  display: flex;
  height: 100px;
  padding-top: 10px;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  margin-left: 10%;
  margin-bottom: 5%;
}
.logo {
  position: relative;
  width: 3vw;
  height: 100%;
  z-index: 1;
}
.logobox {
  flex: 0 10%;
  height: 50px;
  padding-top: 10px;
  padding-left: 30px;
}
.searchbox {
  flex: 0 80%;
  height: 50px;
  padding: 1% 1% 2% 4%;
}
.acco {
  flex: 0 20%;
  height: 50px;
}
.search {
  width: 80%;
  height: 40px;
}
input {
  padding-left: 3%;
  border-radius: 20px;
  box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgba(93, 95, 239, 0.25);
  text-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
}
.sidebar {
  position: fixed;
  margin: 1% 0% 0% 2%;
  height: 95%;
  width: 80px;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: rgba(225, 225, 225, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar li {
  /* padding: 8px 10px 10px 10px; */
  text-decoration: none;
  /* width: 50px; */
  height: 50px;
  /* margin-left: 5px; */
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  visibility: hidden;
  color: black;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .closebtn:hover {
  color: black;
}

.sidebar .openbtn {
  position: absolute;
  top: 10px;
  background: rgba(255, 255, 255, 0);
  margin-left: 20px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}
.sidebar .openbtn:hover {
  cursor: pointer;
}
.addcard {
  position: fixed;
  align-items: center;
  padding: 10px;
  bottom: 10px;
  right: 10px;
  width: 70px;
  z-index: 100;
  height: 70px;
  border: none;
  outline: 2px solid #5d5fef;
  background: white;
  border-radius: 50%;
  box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgb(93 95 239 / 25%);
}
.addcard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.addcard2 {
  display: none;
  position: fixed;
  align-items: center;
  padding: 10px;
  bottom: 116px;
  right: 10px;
  width: 70px;
  z-index: 100;
  height: 70px;
  border: none;
  outline: 2px solid #5d5fef;
  background: white;
  border-radius: 50%;
  box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgb(93 95 239 / 25%);
}
.addcard2:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.addform {
  position: fixed;
  display: none;
  width: 80vw;
  height: 43vw;
  left: 144px;
  margin-top: 3%;
  top: 10px;
  border: none;
  outline: 1px solid #4776e6;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
}
.form {
  background-color: lightgray;
}
.save-buttons {
  position: fixed;
  display: none;
  top: 4%;
  bottom: 0;
  left: 88%;
  width: 80%;
  height: 10%;
  z-index: 100;
}
button:hover {
  cursor: pointer;
}
#main {
  transition: margin-left 0.5s;
  padding: 0px 0px 16px 16px;
}
.ul-list {
  padding: 5px 5px;
  margin-top: -16px;
  list-style-type: none;
}
.tab {
  display: flex;
  align-items: center;
  background: rgba(102, 101, 101, 0);
  border: none;
  outline: none;
  width: 100%;
  flex-wrap: nowrap;
  z-index: 1;
}
.tab:hover {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px rgba(93, 95, 239, 0.25);
}
.text {
  visibility: hidden;
  margin-left: 55px;
  padding-left: 20px;
}
.classname {
  margin-left: 55px;
  padding-left: 20px;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li.menu-item {
  margin: 0 0 20px 0;
}
.content {
  display: flex;
  grid-template-columns: auto auto auto;
  margin-top: -67px;
  z-index: 1;
  padding-left: 11%;
  transition: margin-left 0.5s;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.nothing {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.grid {
  display: block;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 2px 0px rgb(61, 61, 61);
  width: 28%;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}
.grid-item {
  display: flex;
  position: relative;
}
.grid-item2 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.list-img {
  position: fixed;
  height: 30px;
  width: 40px;
  margin-top: 10px;
  margin-left: 14px;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid:hover .test {
  z-index: -1;
  cursor: pointer;
  transition: 0.5s ease-in;
  background: #b7a4f1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.grid:hover {
  cursor: pointer;
}
.grid:hover .copy-button {
  display: flex;
  position: absolute;
  margin-top: 18%;
  z-index: 1;
  cursor: pointer;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
.grid:hover .name {
  color: rgb(0, 0, 0);
  text-shadow: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.copy-button {
  display: none;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  margin-left: 10%;
  border: none;
  width: 80%;
  height: 35%;
  font-size: large;
  color: white;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  border: 5px solid transparent;
  transition: 0.3s ease;
  border-radius: 50px;
}
.copy-button:hover {
  color: #4776e6;
  background: white;
  cursor: pointer;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #4776e6;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header {
  position: relative;
  font-size: 20px;
  margin-left: 10px;
}
.name {
  display: -webkit-box;
  white-space: no-wrap;
  font-size: 15px;
  margin-left: 10px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.name2 {
  display: -webkit-box;
  white-space: no-wrap;
  font-size: 15px;
  margin-left: 10px;
}
.edit-delete {
  position: relative;
  border-radius: 30%;
  background: #81818180;
  padding: 8px;
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
}
.edit-delete:hover {
  background: #818181;
  cursor: pointer;
}
.tooltip {
  padding: 2px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  top: 50px;
  left: -42px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.searchbutton:hover {
  cursor: pointer;
  background-color: #818181;
}
