<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_header') %>
    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://www.solodev.com/assets/password/strength.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Create Master Password</title>
  </head>
  <body>
    <style>
      body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      ::-webkit-input-placeholder {
        font-family: "Poppins", sans-serif;
      }
      input:focus {
        padding-left: 20px;
        padding-right: 20px;
        outline: 2px solid #5d5fef;
      }
      * {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
      }
      .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 3%;
        height: 7%;
        top: 2%;
      }
      .navbar {
        margin-bottom: 10px;
        padding: 5px;
        box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px
          rgba(93, 95, 239, 0.25);
      }
      .container {
        display: flex;
        height: fit-content;
        margin-top: 5%;
      }
      .head-text {
        margin-top: 5%;
        margin-left: 5%;
        padding-right: 10%;
        font-weight: 400;
        font-size: 48px;
        line-height: 76px;
      }
      .sub-text {
        position: relative;
        margin-left: 5%;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
      }
      .homeimage {
        position: relative;
        width: 40%;
        height: 40%;
        margin-top: 5%;
        margin-right: 5%;
      }
      .text {
        position: relative;
        width: 50%;
        margin-left: 50px;
        left: 0px;
        margin-right: 10%;
      }
      .form {
        position: relative;
        width: 50%;
        top: 7%;
      }
      .textbox {
        position: absolute;
        width: 70%;
        height: 10%;
        left: 10%;
        top: 20%;
        background: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 14.89cm;
        border: none;
        outline: none;
        box-shadow: 7.44255px 14.8851px 26.0489px 9.67531px
          rgba(93, 95, 239, 0.25);
        text-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
      }
      .SIGNUP {
        position: absolute;
        width: 45%;
        height: 10%;
        left: 28%;
        top: 80%;
        border: none;
        outline: none;
        background: #5d5fef;
        border-radius: 23.0719px;
        text-align: center;
        color: white;
        text-shadow: 0px 2.97702px 2.97702px rgba(0, 0, 0, 0.25);
      }
      .SIGNUP:hover {
        cursor: pointer;
      }
      .formbg {
        position: absolute;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 7.44255px 14.8851px 65.4944px 22.3276px rgba(0, 0, 0, 0.1);
        border-radius: 7.44255px;
        margin-right: 0px;
        width: 70%;
        height: 100%;
      }
      .formheader {
        position: absolute;
        width: 70%;
        height: 12%;
        left: 15%;
        top: -5%;
        z-index: 1;
        font-size: 17.8621px;
        background: #5d5fef;
        border-radius: 22.3276px;
        text-align: center;
        color: #ffffff;
      }
      .strength {
        margin-top: 27%;
        width: 73%;
        height: 10%;
        margin-left: 15%;
        stroke: transparent;
        stroke-width: 0px;
      }
      .message {
        display: none;
      }
    </style>
    <div class="navbar">
      <a href="/"><img class="logo" src="../img/LOGO.png" alt="Logo" /></a>
    </div>
    <div class="container">
      <div class="text">
        <h1 class="head-text">
          Hii, <%= username%>!<br />Let's create your master password
        </h1>
        <h3 class="sub-text">
          Make sure it is something you can remember easily and also strong
          enough on the strength meter. You will use this to login to your
          vault.
        </h3>
      </div>
      <div class="form">
        <div class="formbg" id="signupborder">
          <div style="justify-content: center" class="formheader">
            <p style="margin-top: 10px">Create Master Password</p>
          </div>
          <form
            id="masterpassword"
            action="/setmasterpassword"
            method="post"
            accept-charset="utf-8"
          >
            <input
              id="myPassword"
              type="password"
              class="textbox"
              placeholder="Master Password "
              name="master"
            /><br /><br /><br /><br />
            <div class="message"></div>
            <input
              id="myPassword"
              type="password"
              class="textbox"
              style="top: 50%"
              placeholder="Confirm Master Password"
              name="confirmpass"
            /><br /><br />
            <input type="submit" class="SIGNUP" id="submit" value="CREATE" />
          </form>
        </div>
      </div>
    </div>
    <script>
      let message = "<%-message%>";
      if (message !== "") {
        Swal.fire({
          title: "Error!",
          text: message,
          icon: "error",
          confirmButtonText: "Try again",
        });
      }
    </script>
  </body>
</html>
